<title>OPS | Orientations</title>
<div id="oindex">
    <% @orientations.each do |orientation| %>		
        <h1><%= orientation.orientationdate %><span class="removelink"><%= link_to 'Remove Orientation', orientation, method: :delete, data: { confirm: 'Are you sure?' } %></span></h1>
	<% end %>
	<div id="newlink">
  	 	<p><%= link_to 'New Orientation', new_orientation_path, :class=>"newlinkButton" %></p>
	</div>
</div>