<title>OPS | Orientations</title>
    <% @orientations.each do |orientation| %>
        <%= link_to orientation.orientationdate, edit_orientation_path(orientation) %><br>

        <%= link_to 'Destroy', orientation, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <br>
    <% end %>

<br>

<%= link_to 'New Orientation', new_orientation_path %>
